<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Componentes</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pronto para programar?</strong>
    <p>Preparei essa lista de componentes com o Ionic 5</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="openBotoes()">Botões</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="openCard()">Cards</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="openListas()">Listas</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
