<ion-header>
  <ion-toolbar>
    <ion-title>
      Componentes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title>Componentes Ionic</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pronto para programar?</strong>
    <p>Preparei essa lista de componentes com o Ionic 5</p>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button color="success" (click)="openPage('botoes')">Botões</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="openPage('cards')">Cards</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="success" (click)="openPage('listas')">Listas</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-content>
